/*Importação da fonte poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilizando a fonte para todo documento*/
*{
    font-family: Poppins, sans-serif;
}


/*Estilização das flex tabs(cards) */

li .active{
    border-bottom: 3px solid #1AF8F2;
}

.disponibilidade-curso{
    color: black;
}

.card-text{
    font-size: 12px;
}

.card-horizontal{
    height: 280px;

}

.colunas-card{
    font-size: 11px;
}

.descricao-cards{
    font-size: 10px;
}

.borda-card{
    border-left: 1px solid #2164AA;
    border-right: 1px solid #2164AA;
}

.btn-card{
    background-color: #2164AA;
    color: white;
    font-size: 8px;
    position: absolute;
    top: 15px;
    border-radius: 8px;
}

/*Fim do código*/

