/*Importação da fonte poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilizando a fonte para todo documento*/
*{
    font-family: Poppins, sans-serif;
}

/*Inicio estilização header*/
.barra-cabecalho{
    position: absolute;
    width: 1320px;
    height: 126px;
    background-color: #0F2F51 ;
}

.logo-header{
    position: absolute;
    left: 44px;
    top: 37px;
}

form{
    display: inline-block;
}

.search-header{
    position: absolute;
    width: 151px;
    height: 27px;
    left: 338.5px;
    top: 53px;
}

.search-header input[type=text]{
    border: none;
    background-color: #0F2F51 ;
    outline: none;
    border-bottom: 1px solid #1AF8F2;
    color: #FFFFFF;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
 }

 .search-header button{
    background: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 6.11%;
    bottom: 91.56%;
 }
 .usuario-cabecalho{
    position: absolute;
    width: 118px;
    height: 32px;
    left: 740px;
    top: 60px;
    color: #FFFFFF;
 }
 .user-logo{
    position: absolute;
    left: 97px;
    bottom: 13px;
    
 }
 .botao-real{
    position: absolute;
    width: 243px;
    height: 49px;
    left: 900px;
    top: 39px;
    border: none;
    border-radius: 29px;
    background-color: #1AF8F2;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 47px;
 }

 .botao-real:hover{
    color: #0F2F51;
    cursor: pointer;
    text-decoration: none;
}
/*Fim da estilização header*/

/*Estilização da barra de navegação e das flex tabs */
.barra-nav{
    position: absolute;
    width: 1320px;
    height: 30px;
    left: 0px;
    top: 125px;
    background: #0F2F51;
}

.abas{
    margin-left: 40px;
    font-size: 14px;
    padding: 5px;
    color: white;
}

li .active{
    border-bottom: 3px solid #1AF8F2;
}

.barra-menu{
    position: absolute;
    width: 1320px;
    height: 40px;
    left: 0px;
    top: 30px;
    background: #1AF8F2;
}

.texto-barra-menu{
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;

}

.imagem-fundo{
    position: absolute;
    width: 1200px;

    left: 0px;
    top: 70px; 
}

.disponibilidade-curso{
    color: black;
}

.card-text{
    font-size: 12px;
}

.card-horizontal{
    height: 280px;

}

.colunas-card{
    font-size: 11px;
}

.descricao-cards{
    font-size: 10px;
}

.borda-card{
    border-left: 1px solid #2164AA;
    border-right: 1px solid #2164AA;
}

.btn-card{
    background-color: #2164AA;
    color: white;
    font-size: 8px;
    position: absolute;
    top: 15px;
    border-radius: 8px;
}

/*Fim do código*/
